body {
    margin: 0;
}

h1 {}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.row {
    display: flex;
}

.box {
    background-color: white;
    height: 100%;
    width: 100%;
}

.fib {
    position: absolute;
    width: 672px;
    height: 79px;
    left: 100px;
    top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
}

.function {
    display: flex;
    position: absolute;
    width: 450px;
    height: 24px;
    left: 55px;
    top: 156px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 50px;
}

button {
    margin-left: 10px; 
    margin-right: 10px;
    background: #0275D8;
    color: white;
    border: 1px solid #0275D8;
    box-sizing: border-box;
    border-radius: 4px;
}

#func {
    margin-left: 20px;
    width: 86px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}