body {
    margin: 0;
}

h1 {}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEDEDE
}

.row {
    display: flex;


}

.box {
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    height: 500px;
    width: 500px;
}

.row1 {}

.fib {
    position: relative;
    left: 64px;
    top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}

.function {
	position: relative;
    left: 64px;
    top: 10px;
    font-family: Open Sans;
    font-size: 15px;
}

button {
	background: #0275D8;
	border: none;
	color: white;
	width: 25px;

}

.func {
	width: 30px;
}