body {
    margin: 0;
}

h1 {}

button {
    margin-left: 10px;
    margin-right: 10px;
    background: #0275D8;
    color: white;
    border: 1px solid #0275D8;
    box-sizing: border-box;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.class-row {
    display: flex;
}

.class-box {
    background-color: white;
    height: 100%;
    width: 100%;
}

.fibo-header {
    position: absolute;
    width: 672px;
    height: 79px;
    left: 100px;
    top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
}


.fibo-function {
    display: flex;
    position: absolute;
    width: 450px;
    height: 24px;
    left: 55px;
    top: 156px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 50px;
}

#spinner {
    visibility: hidden;
    width: 35px;
    height: 35px;

    border: 2px solid #f3f3f3;
    border-top: 3px solid black;
    border-radius: 100%;

    position: absolute;
    top: 200px;
    left: 435px;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#spinner.show {
    visibility: visible;
}

.results-list {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 45px;
    position: absolute;
    top: 300px;
    left: 50px;
    width: 850px;
}

span {
    font-weight: 700;
}

.append-class {
    position: relative;
    top: 200px;
    left: 50px;
    border-bottom: 1px solid black;
    width: 1100px;
    line-height: 72px;
}

.results-header {
    position: absolute;
    top: 250px;
    left: 100px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    
}

.save-box {
    display: flex;
    position: absolute;
    top: 270px;
    left: 100px;
    width: 200px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;   
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
}

#sortList {
    padding-left: 5px;
    position: absolute;
    width: 120px;
    height: 30px;
    top: 400px;
    left: 100px;
    background: #E6E6E6;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

/* input box style */
.red-box {
    color: #D9534F;
    background-color: black;
    margin-left: 20px;
    width: 60px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #FD1F1F;
    box-sizing: border-box;
    border-radius: 4px;
}

.xFibonacci {
    margin-left: 20px;
    width: 60px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

/* error box style */

.errorBox {
    visibility: visible;
    width: 180px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 220px;
    left: 188px;
    font-family: Open Sans;
    background-color: #F49D9D;
    color: #A50808;
    font-size: 16px;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

.hidden-error {
    visibility: hidden;
    width: 180px;
    height: 25px;
    text-align: center;
    position: absolute;
    top: 220px;
    left: 188px;
    font-family: Open Sans;
    background-color: #F49D9D;
    color: #A50808;
    font-size: 16px;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

/* error 42 */

.newError42 {
    visibility: hidden;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
    position: absolute;
    width: 277px;
    height: 24px;
    left: 445px;
    top: 191px;
}

.pop-error {
    visibility: visible;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
    position: absolute;
    width: 277px;
    height: 24px;
    left: 445px;
    top: 191px;
}

/* answer style */

.yFibonacci {
    font-weight: 700;
    text-decoration: underline;
}

.answer {
    display: none;
}

